.course_heading {
    margin: 0;
}

.teacher_names {
    color: dimgrey;
}

.course_info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.lessons_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.lesson_container {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 12rem;
    border: 1px solid dimgrey;
    border-radius: 0.7rem;
    background: #f5f5f5;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
    transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.lesson_container:hover, .lesson_container:focus {
    outline: none;
    transform: scale(1.01);
    filter: drop-shadow(3px 3px 8px rgba(0, 0, 0, 0.3));
}

.lesson_list_lesson_name {
    font-weight: 600;
    font-size: 110%;
}

.view_switch {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: calc(100% + 4rem);
    margin: 0 -2rem 2rem -2rem;
}

.view_switch > a {
    display: grid;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
    cursor: pointer;
    padding: 0.7rem;
    color: black;
    text-decoration: none;
}

.view_switch > a:not(:first-child) {
    border-top: lightgrey solid;
    border-bottom: lightgrey solid;
    border-left: lightgrey solid;
    border-width: 1px;
}

.view_switch > a:first-child {
    border-top: lightgrey solid;
    border-bottom: lightgrey solid;
    border-width: 1px;
}

.view_switch > a.selected {
    border-bottom-color: white;
    background: white;
}

.view_switch > a:hover, .view_switch > a:focus {
    outline: none;
    background: #e8e8e8;
}

#summaries_list_header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: calc(1rem + 1px);
    color: dimgrey;
}

.summaries_list_anchor {
    padding: 1rem;
    color: black;
    text-decoration: none;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.summaries_list_anchor:hover {
    filter: var(--text-shadow);
}

.list_file_name {
    font-weight: bold;
}

.course_content {
    display: grid;
}