#course-list-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: calc(1rem + 1px);
    color: dimgrey;
}

.course-list-anchor {
    padding: 1rem;
    color: black;
    text-decoration: none;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.course-list-anchor:hover {
    filter: var(--text-shadow);
}

.list-prof-name {
    font-weight: bold;
}