#index-card-form {
    position: relative;
    display: grid;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    grid-template-rows: auto auto 1fr;
    font-size: inherit;
}

.index-card-stack {
    aspect-ratio: 4 / 3;
    width: 70%;
    max-height: 40vh;
    margin: 3vh 0 4vh 0;
    justify-self: center;
    filter: drop-shadow(3px 2px 5px rgba(0, 0, 0, 0.3));
    min-width: 310px;
}

.index-card-lower {
    position: absolute;
    transform-origin: calc(50% + -80px) calc(50% + 60px);
    transform: rotate(5deg);
}

.index-card-upper {
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
}

.index-card-upper, .index-card-lower {
    width: 100%;
    height: 100%;
    background-color: #fff8c9;
}

#index-card-question-input {
    font-size: 150%;
}

#index-card-answer-input {
    resize: none;
    font-size: inherit;
}

#index-card-question-input, #index-card-answer-input {
    background-color: #fffce6;
    height: 100%;
}

.displayed-index-card {
    display: grid;
    justify-content: center;
    align-items: center;
    transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;
    padding: 2rem;
    box-sizing: border-box;
    color: black;
}

.displayed-index-card.flip-card-back {
    grid-template-rows: auto 1fr;
    gap: 2rem;
}

.displayed-index-card:hover, .displayed-index-card:focus {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
}

.displayed-index-card.flip-card-front:hover, .displayed-index-card.flip-card-front:focus {
    transform: scale(1.01);
}

.displayed-index-card.flip-card-back:hover, .displayed-index-card.flip-card-back:focus {
    transform: scale(1.01) rotateY(180deg);
}

.displayed-index-card-question {
    font-size: 170%;
    font-weight: bold;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-inner.flip-card-flipped {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.index-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-card-actions {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}